html,
body {
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #09d3ad;
  color: #fff;
}
