html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #09d3ad;
  color: #fff;
}
